@model List<SkipassRessort.ViewModel.SkipassViewModel>

@{
    ViewData["Title"] = "Продаж скіпасів";
}

<div class="categories">
    @foreach (var skipass in Model)
    {
        <div class="category-card">
            <img src="@skipass.ImageUrl" alt="@skipass.ResortName" />
            <h3>@skipass.ResortName</h3>
            <p>@skipass.Description</p>
            <p class="price">@skipass.Price грн</p>
            <p>Тривалість: @skipass.Duration</p>
            <form asp-controller="Home" asp-action="Buy" method="post">
                <input type="hidden" name="ResortName" value="@skipass.ResortName" />
                <input type="hidden" name="Price" value="@skipass.Price" />
                <input type="hidden" name="Duration" value="@skipass.Duration" />
                <button type="submit" class="btn">Купити</button>
            </form>


        </div>
    }
</div>

@section Footer {
    <p>© 2026 SkiPass Service — контакти: support@skipass.com</p>
}